body{
    background-color: #cef7d8;

}

li{
    list-style: none;
    max-width: 200px;
    padding: 0.5rem;
    margin: 1px;
    background-color: rgb(247, 252, 255);
    border: 0.1px solid dimgray;
    
}

button{
    align-self: center;
    margin-left: 99px;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}